body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.container {
    text-align: center;
}

#jokeElement {
    font-size: 1.5rem;
    color: #333;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}

#button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #0056b3;
}